<div class="card rounded shadow-lg h-100  border-0" style="min-height: 400px">

    <label class="sr-only" id="preview-tab-label">
      Use this control to select whether to preview or reorder the output.
    </label>

    <div class="card-header d-flex justify-content-between align-items-center py-0 bg-primary rounded-top text-light">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedTab">
        <label ngbButtonLabel class="btn-light ">
          <input ngbButton type="radio" value="preview" aria-labelledby="preview-tab-label">
          <h2 class="m-0" style="font-size: 1.1rem">Preview</h2>
        </label>
        <label ngbButtonLabel class="btn-light">
          <input ngbButton type="radio" value="reorder" aria-labelledby="preview-tab-label">
          <h2 class="m-0" style="font-size: 1.1rem">Reorder</h2>
        </label>
        <label ngbButtonLabel class="btn-light ">
          <input ngbButton type="radio" value="email" aria-labelledby="preview-tab-label">
          <h2 class="m-0" style="font-size: 1.1rem">Email</h2>
        </label>
      </div>
      <a class="p-2 my-1 text-light" href="javascript:;" (click)="downloadPreview()">
        Download .docx
      </a>
    </div>

    <div
      [hidden]="!hasData"
      class="card-body overflow-auto mh-100 h-100">

      <p *ngFor="let alert of alerts; let i = index" class="small mt-3">
        <ngb-alert [type]="alert.type" (close)="alerts.splice(i, 1)">
          {{ alert.message }}
        </ngb-alert>
      </p>

      <p *ngIf="loading">Loading...</p>

      <p [hidden]="selectedTab != 'preview'" style="max-height: 500px" #preview></p>

      <p [hidden]="selectedTab != 'reorder'" style="max-height: 500px">
        <author-arranger-reorder
          [authors]="state.authors"
          (on-change)="reorder.emit($event)">
        </author-arranger-reorder>
      </p>

      <p [hidden]="selectedTab != 'email'"  style="max-height: 500px" >{{ state.emails.join('; ') }}</p>
    </div>

    <div
      [hidden]="hasData"
      class="card-body overflow-auto mh-100 h-100 d-flex-center font-weight-light h5">
      <p style="max-height: 500px; margin: 0;">Please upload a file to view authors.</p>
    </div>
  </div>