<p class="mb-1 ml-2" style="font-weight: 500;">Drag to reorder authors.</p>
<div
  cdkDropList
  #activeList="cdkDropList"
  cdkDropListOrientation="mixed"
  [cdkDropListData]="activeAuthors"
  [cdkDropListConnectedTo]="[removedList]"
  (cdkDropListDropped)="drop($event)"
  class="mb-3 p-2 d-flex flex-wrap">
  <div
    *ngFor="let author of activeAuthors"
    cdkDrag
    tabIndex="0"
    (keyup)="handleKeyboardEvent($event, author)"
    [attr.data-id]="author.id">

    <div
      class="border d-flex rounded m-1 p-0 shadow-sm"
      [title]="author.name">

      <div cdkDragHandle class="d-flex align-items-center py-1 px-2 bg-white rounded-left border-right c-move flex-shrink-0" style="overflow: hidden;">
        <img src="assets/icons/bars.svg" alt="draggable icon" class="pointer-events-none">
      </div>

      <div
        class="py-1 px-2"
        [ngClass]="{
          'bg-white': !author.duplicate,
          'bg-warning': author.duplicate
        }">
        {{ (author.fields.First +  ' ' + author.fields.Last).trim() || author.name }}
      </div>

      <div
        (click)="toggleRemoved(author)"
        class="c-pointer py-1 px-2 border-left bg-white text-muted rounded-right">
        &times;
      </div>
    </div>
  </div>
</div>

<div class="bg-light rounded border mb-4">
<div class="mx-2" style="font-weight: 500;">Removed Authors</div>
<div
  cdkDropList
  #removedList="cdkDropList"
  cdkDropListOrientation="mixed"
  [cdkDropListData]="removedAuthors"
  [cdkDropListConnectedTo]="[activeList]"
  (cdkDropListDropped)="drop($event)"
  style="min-height: 100px"
  class="d-flex flex-wrap p-2">
    <div
      *ngFor="let author of removedAuthors"
      cdkDrag
      tabindex="0"
      (keyup)="handleKeyboardEvent($event, author)"
      [attr.data-id]="author.id">
      <div
        class="border d-flex rounded m-1 p-0 flex-grow-0 shadow-sm"
        [title]="author.name">

        <div cdkDragHandle class="d-flex align-items-center py-1 px-2 bg-white rounded-left border-right c-move flex-shrink-0" style="overflow: hidden;">
          <img src="assets/icons/bars.svg" alt="draggable icon" class="pointer-events-none">
        </div>

        <div class="py-1 px-2 bg-white">
          {{ (author.fields.First +  ' ' + author.fields.Last).trim() || author.name }}
        </div>

        <div
          (click)="toggleRemoved(author)"
          class="c-pointer py-1 px-2 border-left bg-white text-muted rounded-right">
          +
        </div>
      </div>
    </div>
</div>
</div>
