<div class="card shadow-lg mb-4 mb-lg-0 border-0">
  <div class="card-header d-flex justify-content-between align-items-center py-0 bg-primary text-light">
      <h1 style="font-size: 1.1rem" class="card-title m-0">AuthorArranger Web Tool for Manuscript Title Page Creation</h1>
  </div>
  <article class="card-body">
      <p>
          AuthorArranger is a free web tool designed to help authors of research manuscripts automatically generate correctly formatted title pages for manuscript journal submission in a fraction of the time it takes to create the pages manually. Whether your manuscript has 20 authors or 200, AuthorArranger can save you time and resources by helping you conquer journal title pages in seconds.
      </p>

      <p>
          Simply upload a spreadsheet containing author details ordered by author contribution, or download AuthorArranger’s easy-to-follow spreadsheet template and populate it with author and affiliation details. Either way, once your author information is uploaded AuthorArranger will allow you to make format choices based on the submission rules of the journal. When finished, you get a downloadable and formatted document that has all your authors and affiliations arranged for journal submission.
      </p>

      <p>
      Want to see how it works before uploading your data? Simply click on the “Load Sample” link in the Upload Author Information section to see an example of how easy it is to use AuthorArranger for arranging and formatting a journal title page.
      </p>

      <p>
          For expanded information, follow these four simple steps below to have AuthorArranger automatically perform all the heavy lifting on title page preparation.
      </p>

      <h2 class="h5 mt-4">Step One: Upload your author information.</h2>
      <p>
          You can download our <a href="assets/files/AuthorArranger Template.xlsx">template</a> and fill in your authors and their respective information, or take your own existing spreadsheet and manually select the columns in the file that correspond to AuthorArranger’s fields. The order of authors in the uploaded file will correspond to the order of author contribution in AuthorArranger, although this can be changed later in the Reorder tab. Once your file is set, upload it to AuthorArranger.
          If your workbook contains more than one spreadsheet, AuthorArranger will use the sheet titled “Authors”. For authors with multiple titles, AuthorArranger requires these to be separated by a semicolon (e.g., MD;PhD). For authors with multiple affiliations, you will need to create a new row beneath the author’s current row and only add in affiliation details. See the downloadable sample for an example.
      </p>

      <h2 class="h5 mt-4">Step Two: Choose Author and Affiliation formats according to the journal’s instructions.</h2>
      <p>
          AuthorArranger provides a variety of formatting options to facilitate submissions to different journals. First ensure the defined AuthorArranger fields are correctly mapped to fields in your file by clicking the down arrow next to each field name and selecting the appropriate field header in your data file. If you want to reorder the fields, simply drag them up/down to your desired position and AuthorArranger will automatically display changes in the Preview window. For fields that you don’t plan to use in your generated title page, choose “No data”. A variety of available affiliation fields and formats are provided and can be reordered as needed. The Preview pane will automatically display any re-ordering or changing of formats.
      </p>

      <h2 class="h5 mt-4">Step Three: Rearrange author ordering, if necessary.</h2>
      <p>
          The Reorder tab on the Preview pane allows you to rearrange the order of your authors. By default, AuthorArranger lists authors in the order they appear in the uploaded author information file. If further reordering or removal of authors is needed, the Reorder tab enables you to make such changes by clicking and dragging the author names or clicking the “x” next to a name to remove them. To restore any removed authors, simply drag the author name back into the list of author names or click the “+” next to the author’s name. The Reorder tab will also highlight any authors that are duplicated in your author list.
      </p>

      <h4 class="h5 mt-4">Step Four: Copy/paste or download your formatted title page.</h4>
      <p>
          Like what you see in the preview pane and ready to use it in your submission? Simply copy and paste the text in the Preview pane into your manuscript. If you prefer a permanent copy of the formatted author names and affiliations, you can download them in an MS Word document. After you close your web browser all uploaded author data will be deleted from the AuthorArranger web server, so be sure you have adequately copied text or downloaded your formatted names and affiliations before leaving the web page.
      </p>

      <h4 class="h5 mt-4">Step Five (Optional): Generate email list for contacting authors.</h4>
      <p>
        The Email Column field allows you to select a column that contains email addresses. Once you make a selection, the Email tab in the Preview pane will automatically be populated with author emails, which you can copy and paste into your preferred email client.
      </p>



  </article>
</div>

