<nav class="navbar navbar-expand-sm navbar-dark shadow-sm bg-primary-light text-light py-0">
  <div class="container">

    <!-- <a class="navbar-brand" title="Conquer journal title pages in seconds" [routerLink]="['/']">
      <h1 class="h5 font-weight-normal d-inline m-0">Author&zwj;Arranger</h1>
    </a> -->

    <ul class="navbar-nav">
      <li class="nav-item mr-4">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-link bg-transparent text-white h5 font-weight-normal m-0">
          Home
        </a>
      </li>

      <li class="nav-item mr-4">
        <a
          routerLink="/web-tool"
          routerLinkActive="active"
          class="nav-link bg-transparent text-white h5 font-weight-normal m-0">
          AuthorArranger
        </a>
      </li>

      <li class="nav-item mr-4">
        <a
          routerLink="/user-guide"
          routerLinkActive="active"
          class="nav-link bg-transparent text-white h5 font-weight-normal m-0">
          User Guide
        </a>
      </li>
    </ul>
  </div>
</nav>