<nav class="navbar navbar-expand-sm navbar-dark shadow-sm bg-primary text-light py-0">
  <div class="container">

    <a class="navbar-brand" title="Conquer journal title pages in seconds" [routerLink]="['/']">
      <h1 class="h5 font-weight-normal d-inline m-0">Author&zwj;Arranger</h1>
      <span id="/" class="sr-only">Link to Home Page</span>
    </a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [class.active]="router.url == '/help'">
        <a class="nav-link bg-transparent text-light h5 font-weight-normal m-0" [routerLink]="['/help']">Help</a>
        <span id="/help" class="sr-only">Link to Help Page</span>
      </li>
    </ul>
  </div>
</nav>