<div class="card shadow-lg mb-4 mb-lg-0 border-0">
    <div class="card-header d-flex justify-content-between align-items-center py-0 bg-primary text-light">
        <h1 style="font-size: 1.1rem" class="card-title m-0">AuthorArranger User Guide</h1>
    </div>
    <article class="card-body">
        <p>
            AuthorArranger is a free web tool designed to help authors of research manuscripts automatically generate correctly formatted
            title pages for manuscript journal submission in a fraction of the time it takes to create the pages manually.
            Whether your manuscript has 20 authors or 200, AuthorArranger can save you time and resources by helping you
            conquer journal title pages in seconds.
        </p>

        <h2 class="h5 mt-4">Step One: Upload your author information.</h2>
        <div class="row">
            <div class="col-lg-2">
                <img alt="Upload table displays sample author and affiliations in column order: First name, Last name, Division, Institute. Note that affiliations in the template spreadsheet can be changed to whatever fits your organization."
                    class="img-fluid my-2" src="assets/images/quick-start/step-1.small.svg">
            </div>
            <div class="col-lg-10">
                <p>
                    You can download our
                    <a href="assets/files/AuthorArranger Template.xlsx">AuthorArranger template</a> and fill in your authors and their respective information, or take your own
                    existing spreadsheet and manually select the columns in the file that correspond to AuthorArranger’s
                    fields. The order of authors in the uploaded file will correspond to the order of author contribution
                    in AuthorArranger, although this can be changed later in the Reorder tab. Once your file is set, upload
                    it to AuthorArranger. If your workbook contains more than one spreadsheet, AuthorArranger will use the
                    sheet titled “Authors”. For authors with multiple affiliations, you will need to create a new row beneath
                    the author’s current row and only add in affiliation details. See the downloadable sample for an example.
                </p>
            </div>
        </div>

        <h2 class="h5 mt-4">Step Two: Choose Author and Affiliation formats according to the journal’s instructions.</h2>
        <div class="row">
            <div class="col-lg-2">
                <img alt="Author Format table gives the user a sample of the available format choices. For the first name, user may choose to abbreviate and/or add period, for the last name user may choose to abbreviate and/or add period). User may also choose to superscript or go to a new line. Next, the Affiliation format table gives the user a sample of the available choices. For the Division, the user may choose to add a comma and/or add period. For the Institute, the user may choose to add a comma and/or add period. User may also choose to superscript, go to new line, add numbers (such as in a list)."
                    class="img-fluid my-1" src="assets/images/quick-start/step-2.small.svg">
            </div>
            <div class="col-lg-10">
                <p>
                    AuthorArranger provides a variety of formatting options to facilitate submissions to different journals. First ensure the
                    defined AuthorArranger fields are correctly mapped to fields in your file by clicking the down arrow
                    next to each field name and selecting the appropriate field header in your data file. If you want to
                    reorder the fields, simply drag them up/down to your desired position and AuthorArranger will automatically
                    display changes in the Preview window. For fields that you don’t plan to use in your generated title
                    page, choose “No data”. A variety of available affiliation fields and formats are provided and can be
                    reordered as needed. The Preview pane will automatically display any re-ordering or changing of formats.
                </p>
            </div>
        </div>

        <h2 class="h5 mt-4">Step Three: Rearrange author ordering, if necessary.</h2>
        <div class="row">
            <div class="col-lg-2">
                <img alt="The Reorder table displays a column of author names, each with an X to the right of the name. User has the option of changing authors places in the list by clicking and dragging up or down, and removing an author by choosing the X next to the author’s name."
                    class="img-fluid my-1" src="assets/images/quick-start/step-3.small.svg">
            </div>
            <div class="col-lg-10">
                <p>
                    The Reorder tab on the Preview pane allows you to rearrange the order of your authors. By default, AuthorArranger lists authors
                    in the order they appear in the uploaded author information file. If further reordering or removal of
                    authors is needed, the Reorder tab enables you to make such changes by clicking and dragging the author
                    names or clicking the “x” next to a name to remove them. To restore any removed authors, simply drag
                    the author name back into the list of author names or click the “+” next to the author’s name. The Reorder
                    tab will also highlight any authors that are duplicated in your author list.
                </p>

            </div>
        </div>

        <h4 class="h5 mt-4">Step Four: Copy/paste or download your formatted title page.</h4>
        <div class="row">
            <div class="col-lg-2">
                <img alt="Sample Title page displays author names in order, using the following formats: First initial, last name, superscript affiliation number. Underneath it lists the author affiliations (in this instance, division and institute) in numeric order."
                    class="img-fluid my-1" src="assets/images/quick-start/step-4.small.svg">
            </div>
            <div class="col-lg-10">
                <p>
                    Like what you see in the preview pane and ready to use it in your submission? Simply copy and paste the text in the Preview
                    pane into your manuscript. If you prefer a permanent copy of the formatted author names and affiliations,
                    you can download them in an MS Word document. After you close your web browser all uploaded author data
                    will be deleted from the AuthorArranger web server, so be sure you have adequately copied text or downloaded
                    your formatted names and affiliations before leaving the web page.
                </p>
            </div>
        </div>

        <h4 class="h5 mt-4">Step Five (Optional): Generate email list for contacting authors.</h4>
        <div class="row">
            <div class="col-lg-2">
                <img alt="Envelope icon and explanation that the tool gives the user the ability to generate an email list for contacting the entire list of authors (email tab is accessible on the AuthorArranger tool page, in the preview pane)."
                    class="img-fluid my-1" src="assets/images/quick-start/step-5.small.svg">
            </div>
            <div class="col-lg-10">
                <p>
                    The Email Column field allows you to select a column that contains email addresses. Once you make a selection, the Email
                    tab in the Preview pane will automatically be populated with author emails, which you can copy and paste
                    into your preferred email client.
                </p>

            </div>
        </div>

    </article>
</div>