<div class="card shadow-lg mb-4 mb-lg-0  border-0">
    <div class="card-header d-flex justify-content-between align-items-center py-0 bg-primary text-light">
        <h1 style="font-size: 1.1rem" class="card-title m-0">QuickStart</h1>
    </div>
    <div class="card-body text-center">
        <h2 class="h3">AuthorArranger</h2>
        <h3 class="h5">Conquer journal title pages in seconds</h3>

        <div class=" row">
            <div class="my-3 col-lg-3">
                <img class="img-fluid my-2" src="assets/images/step-1.png" alt="Step 1">
                <div><strong>Step 1.</strong> Upload Author and affiliation details.</div>
                <small>(See <a href="assets/files/AuthorArranger Template.xlsx">template</a> and <a href="assets/files/AuthorArranger Sample.xlsx">sample</a>)</small>

            </div>

            <div class="my-3 col-lg-3">
                <img class="img-fluid my-2" src="assets/images/step-2.png" alt="Step 2">
                <div><strong>Step 2.</strong> Configure author and affiliation formatting options.</div>
                <small>(The Preview pane shows live changes)</small>

            </div>

            <div class="my-3 col-lg-3">
                <img class="img-fluid my-2" src="assets/images/step-3.png" alt="Step 3">
                <div><strong>Step 3.</strong> Reorder or remove authors.</div>
                <small>(See Reorder tab on Preview Pane)</small>
            </div>

            <div class="my-3 col-lg-3">
                <img class="img-fluid my-2" src="assets/images/step-4.png" alt="Step 4">
                <div><strong>Step 4.</strong> Copy or download generated title page.</div>
                <small>(Title page conquered!)</small>
            </div>
        </div>



    </div>
</div>