
<div class="mb-4">
  <author-arranger-file-input
    (on-change)="merge({file: $event, preserveOrder: false});">
  </author-arranger-file-input>
</div>

<div class="row">
  <div class="col col-lg-6">
    <div style="max-height: 800px; overflow: auto;">
        <author-arranger-form
        (on-change)="merge({format: $event}); arrange();"
        [fileHeaders]="state.file.headers">
      </author-arranger-form>
    </div>
  </div>
  <div class="col col-lg-6">
    <author-arranger-preview
      [loading]="loading"
      [state]="state"
      (reorder)="reorder($event);"
    ></author-arranger-preview>
  </div>
</div>