<a href="https://dceg.cancer.gov/" class="d-block">
  <img height="90" src="assets/images/dceg-logo.svg" alt="Division of Cancer Epidemiology &amp; Genetics">
</a>



<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4 shadow-sm">
  <a class="navbar-brand" href="#" title="Conquer journal title pages in seconds">
    <span>Author&zwj;Arranger</span>
    <img class="d-none d-sm-inline-block" src="assets/images/author-arranger-logo.png" height="34" alt="Author Arranger Logo">
  </a>

  <button
    (click)="navbarCollapsed = !navbarCollapsed"
    class="navbar-toggler"
    aria-controls="navbar-content"
    [attr.aria-expanded]="!navbarCollapsed"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-content" [ngbCollapse]="navbarCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>

    </ul>
  </div>

</nav>




<router-outlet></router-outlet>
