<author-arranger-navbar></author-arranger-navbar>

<main class="container py-4 flex-grow-1" id="main">
  <router-outlet></router-outlet>

  <aside class="my-4">
    <div class="my-4 alert alert-info-light text-dark shadow-lg">
      <p>
        AuthorArranger was created by
        <a href="https://dceg.cancer.gov/about/staff-directory/biographies/K-N/machiela-mitchell" target="_blank">Mitchell Machiela</a> and Geoffrey Tobias in collaboration with the <a href="https://cbiit.cancer.gov/" target="_blank">NCI Center for Biomedical Informatics and Information (CBIIT)</a>. Support for AuthorArranger comes from the 2018 DCEG Informatic Tool Challenge.
      </p>

      <p>
        Please acknowledge AuthorArranger in your manuscript's acknowledgement section: "Support for title page creation and format was provided by AuthorArranger, a tool developed at the <a href="https://www.cancer.gov/">National Cancer Institute</a>." Feel free to share widely with colleagues! <a href="mailto:NCIAuthorArrangerWebAdmin@mail.nih.gov">Email us with questions or feedback</a> about AuthorArranger or to report technical problems.
      </p>

      <p class="mb-1">
        AuthorArranger is available under the <a href="./assets/license.txt" target="_blank">MIT license</a>, an <a href="https://opensource.org/" target="_blank">Open Source Initiative</a> approved license.
      </p>
    </div>

  </aside>
</main>

<footer class="text-left text-md-center pt-4 pb-4 bg-primary text-light flex-none">
  <div class="container">
    <ul class="list-inline  text-light">
      <li class="pb-1 d-block d-md-inline">
        <a class=" text-light m-1" target="_blank" href="https://www.cancer.gov/">Home</a>
      </li>
      <li class="pb-1 d-none d-md-inline">|</li>
      <li class="pb-1 d-block d-md-inline">
        <a class=" text-light m-1" target="_top" href="mailto:NCIAuthorArrangerWebAdmin@mail.nih.gov?subject=AuthorArranger%20Support">Support</a>
      </li>
      <li class="pb-1 d-none d-md-inline">|</li>
      <li class="pb-1 d-block d-md-inline">
        <a class=" text-light m-1" target="_blank" href="https://www.cancer.gov/global/web/policies">Policies</a>
      </li>
      <li class="pb-1 d-none d-md-inline">|</li>
      <li class="pb-1 d-block d-md-inline">
        <a class=" text-light m-1" target="_blank" href="https://www.cancer.gov/global/web/policies/accessibility">Accessibility</a>
      </li>
      <li class="pb-1 d-none d-md-inline">|</li>
      <li class="pb-1 d-block d-md-inline">
        <a class=" text-light m-1" target="_blank" href="https://cancer.gov/global/viewing-files">Viewing Files</a>
      </li>
      <li class="pb-1 d-none d-md-inline">|</li>
      <li class="pb-1 d-block d-md-inline">
        <a class=" text-light m-1" target="_blank" href="https://www.cancer.gov/global/web/policies/foia">FOIA</a>
      </li>
    </ul>
    <ul class="list-inline">
      <li class="pb-1 d-block d-md-inline">
        <a class=" text-light m-1" target="_blank" href="https://www.hhs.gov/">U.S. Department of Health and Human Services</a>
      </li>
      <li class="pb-1 d-none d-md-inline">|</li>
      <li class="pb-1 d-block d-md-inline">
        <a class=" text-light m-1" target="_blank" href="https://www.nih.gov">National Institutes of Health</a>
      </li>
      <li class="pb-1 d-none d-md-inline">|</li>
      <li class="pb-1 d-block d-md-inline">
        <a class=" text-light m-1" target="_blank" href="https://www.cancer.gov/">National Cancer Institute</a>
      </li>
      <li class="pb-1 d-none d-md-inline">|</li>
      <li class="pb-1 d-block d-md-inline">
        <a class=" text-light m-1" target="_blank" href="https://usa.gov">USA.gov</a>
      </li>
    </ul>
    <div>
      NIH ... Turning Discovery Into Health
      <sup>&reg;</sup>
    </div>
  </div>
</footer>