body {
    height: 100vh;
    min-height: 100vh;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-primary, .btn-primary {
    background-color: #2a71a5 !important;
}

.btn-primary {
    border-color: #2a71a5;
}

.alert.alert-info a {
    color: #22313F;
}

.card-header {
    background: linear-gradient(#fefefe, #f8f8f8);
}

a {
    color: #2a71a5;
}

.c-pointer {
    cursor: pointer;
}

.c-move {
    cursor: move;
}

.opacity-75 {
    opacity: 0.75;
}

.pointer-events-none {
    pointer-events: none;
}

.w-inherit {
    width: inherit !important;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1300px;
    }
}

@media (max-width: 575.98px) {
    .w-lt-sm-100 {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .w-lt-md-100 {
        width: 100%;
    }
}


@media (max-width: 1199.98px) {
    .w-lt-lg-100 {
        width: 100%;
    }
}


@media (min-width: 576px) {
    .w-sm-inherit {
        width: inherit !important;
    }
}

@media (min-width: 768px) {
    .w-md-inherit {
        width: inherit !important;
    }
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f4f4f4;
    opacity: 1;
}

.small .alert-dismissible .close {
    padding: 0 0.3rem;
}

.gu-mirror.list-group-item {
    border-radius: 4px;
    opacity: 1;
}

.spin {
    animation: spin 1000ms infinite linear;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}