body {
  height: 100vh;
  min-height: 100vh;
}

a {
  color: #2a71a5;
}

.alert.alert-info a {
  color: #22313F;
}


.bg-light {
  background-color: #f2f2f2 !important;
}

.bg-primary, .btn-primary {
  background-color: #2a71a5 !important;
}

.bg-primary-dark {
  background-color: #336E7B !important;
}

.btn-primary {
  border-color: #2a71a5;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-warning {
  background-color: #ffeeba !important;
}

.card-header {
  background-color: #fafafa;
  height: 50px;
  min-height: 50px;
}

.c-move {
  cursor: move;
}

.c-pointer {
  cursor: pointer;
}

.navbar-nav li a {
  border: 3px solid transparent;
  border-right: none;
  border-left: none;
}

.navbar-nav li a.active {
  border-bottom: 3px solid #F5AB35;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.opacity-75 {
  opacity: 0.75;
}

.overflow-auto {
  overflow: auto;
}

.pointer-events-none {
  pointer-events: none;
}

.w-inherit {
  width: inherit !important;
}

@media (min-width: 1500px) {
  .container {
      max-width: 1300px;
  }
}

@media (max-width: 575.98px) {
  .w-lt-sm-100 {
      width: 100%;
  }
}

@media (max-width: 767.98px) {
  .w-lt-md-100 {
      width: 100%;
  }
}


@media (max-width: 1199.98px) {
  .w-lt-lg-100 {
      width: 100%;
  }
}


@media (min-width: 576px) {
  .w-sm-inherit {
      width: inherit !important;
  }
}

@media (min-width: 768px) {
  .w-md-inherit {
      width: inherit !important;
  }
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f4f4f4;
  opacity: 1;
}

.small .alert-dismissible .close {
  padding: 0 0.3rem;
}

.gu-mirror {
  opacity: 1;
}

.gu-mirror.list-group-item {
  border-radius: 4px;
}

.spin {
  animation: spin 1000ms infinite linear;
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
