<div class="card rounded shadow-lg h-100 border-0">

    <label class="sr-only" id="format-tab-label">
      Use this control to select whether to edit the author format or affiliation format
    </label>
  
    <div class="card-header d-flex justify-content-between align-items-center py-0 bg-primary rounded-top text-light">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedTab">
        <label ngbButtonLabel class="btn-light ">
          <input ngbButton type="radio" value="author-format" aria-labelledby="format-tab-label">
          <h2 class="m-0" style="font-size: 1.1rem">Author Format</h2>
        </label>
        <label ngbButtonLabel class="btn-light">
          <input ngbButton type="radio" value="affiliation-format" aria-labelledby="format-tab-label">
          <h2 class="m-0" style="font-size: 1.1rem">Affiliation Format</h2>
        </label>
      </div>
    </div>

    <form [formGroup]="formGroup">
      <!-- Author Format -->
      <div class="card-body" [hidden]="selectedTab != 'author-format'">

          <!-- Author Fields -->
          <h2 style="font-size: 1rem;">Fields
            <small class="text-dark font-weight-bold">(drag to reorder)</small>
          </h2>
    
          <author-arranger-fields [formArray]="formGroup.get('author.fields')" [fileHeaders]="fileHeaders" formName="author.fields">
          </author-arranger-fields>
    
          <!-- Email Field -->
          <h2 style="font-size: 1rem;" class="mt-4">Email Column</h2>
    
          <author-arranger-fields [draggable]="false" [formArray]="formGroup.get('email.fields')" [fileHeaders]="fileHeaders" formName="email.fields">
            <div class="d-flex flex-wrap py-1 w-lt-lg-100">
              <label class="m-0 mx-1 d-flex align-items-center">
                <input class="mr-1" type="checkbox" checked disabled>Add Semicolon
              </label>
            </div>
          </author-arranger-fields>
    
          <!-- Author Affiliation -->
          <h2 style="font-size: 1rem;" class="mt-4" id="author-affiliation-title">Author Affiliation</h2>
    
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="author-label-position" id="author-label-position-superscript" value="superscript"
              [formControl]="formGroup.get('author.labelPosition')" aria-labelledby="author-affiliation-title">
            <label class="form-check-label" for="author-label-position-superscript">
              Superscript
            </label>
          </div>
    
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="author-label-position" id="author-label-position-inline" value="inline"
              [formControl]="formGroup.get('author.labelPosition')" aria-labelledby="author-affiliation-title">
            <label class="form-check-label" for="author-label-position-inline">
              Inline
            </label>
          </div>
    
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="author-label-position" id="author-label-position-subscript" value="subscript"
              [formControl]="formGroup.get('author.labelPosition')" aria-labelledby="author-affiliation-title">
            <label class="form-check-label" for="author-label-position-subscript">
              Subscript
            </label>
          </div>
    
          <!-- Author Separator -->
          <h2 style="font-size: 1rem;" class="mt-4" id="author-separator-title">Author Separator</h2>
    
          <div class="form-check form-check-inline">
            <input type="radio" id="author-separator-comma" name="author-separator" class="form-check-input" [formControl]="formGroup.get('author.separator')"
              value="comma" aria-labelledby="author-separator-title">
            <label class="form-check-label" for="author-separator-comma">
              Comma
            </label>
          </div>
    
          <div class="form-check form-check-inline">
            <input type="radio" id="author-separator-newline" name="author-separator" class="form-check-input" [formControl]="formGroup.get('author.separator')"
              value="newline" aria-labelledby="author-separator-title">
            <label class="form-check-label" for="author-separator-newline">
              Newline
            </label>
          </div>
    
          <div class="form-check form-check-inline">
            <input type="radio" id="author-separator-semicolon" name="author-separator" class="form-check-input" [formControl]="formGroup.get('author.separator')"
              value="semicolon" aria-labelledby="author-separator-title">
            <label class="form-check-label" for="author-separator-semicolon">
              Semicolon
            </label>
          </div>
    
    
          <div class="form-check form-check-inline">
            <input type="radio" id="author-separator-other" name="author-separator" class="form-check-input" [formControl]="formGroup.get('author.separator')"
              value="other" aria-labelledby="author-separator-title">
            <label class="sr-only" for="author-separator-other">
              Other Separator
            </label>
    
            <input id="author-separator-other-input" placeholder="Other" class="form-control form-control-sm" size="1" maxlength="2"
              style="width: 60px;" (click)="formGroup.get('author.separator').setValue('other')" [formControl]="formGroup.get('author.customSeparator')">
            <label class="sr-only" for="author-separator-other-input">
              Other Separator Input
            </label>
          </div>
        </div>

      <!-- Affiliation Format -->
      <div class="card-body" [hidden]="selectedTab != 'affiliation-format'">

          <!-- Affiliation Fields -->
          <h2 style="font-size: 1rem;">Fields
            <small class="text-dark font-weight-bold">(drag to reorder)</small>
          </h2>
    
          <author-arranger-fields [formArray]="formGroup.get('affiliation.fields')" [fileHeaders]="fileHeaders" formName="affiliation.fields">
          </author-arranger-fields>
    
    
          <!-- Affiliation Separator -->
          <h2 style="font-size: 1rem;" class="mt-4" id="affiliation-separator-title">Affiliation Separator</h2>
    
          <div class="form-check form-check-inline">
            <input type="radio" id="affiliation-separator-comma" name="affiliation-separator" class="form-check-input" [formControl]="formGroup.get('affiliation.separator')"
              value="comma" aria-labelledby="affiliation-separator-title">
            <label class="form-check-label" for="affiliation-separator-comma">
              Comma
            </label>
          </div>
    
          <div class="form-check form-check-inline">
            <input type="radio" id="affiliation-separator-newline" name="affiliation-separator" class="form-check-input" [formControl]="formGroup.get('affiliation.separator')"
              value="newline" aria-labelledby="affiliation-separator-title">
            <label class="form-check-label" for="affiliation-separator-newline">
              Newline
            </label>
          </div>
    
          <div class="form-check form-check-inline">
            <input type="radio" id="affiliation-separator-semicolon" name="affiliation-separator" class="form-check-input" [formControl]="formGroup.get('affiliation.separator')"
              value="semicolon" aria-labelledby="affiliation-separator-title">
            <label class="form-check-label" for="affiliation-separator-semicolon">
              Semicolon
            </label>
          </div>
    
          <div class="form-check form-check-inline">
            <input type="radio" id="affiliation-separator-other" name="affiliation-separator" class="form-check-input" [formControl]="formGroup.get('affiliation.separator')"
              value="other" aria-labelledby="affiliation-separator-title">
            <label class="sr-only" for="affiliation-separator-other">
              Other Separator
            </label>
    
            <input id="affiliation-separator-other-input" placeholder="Other" class="form-control form-control-sm" size="1" maxlength="2"
              style="width: 60px;" (click)="formGroup.get('affiliation.separator').setValue('other')" [formControl]="formGroup.get('affiliation.customSeparator')">
            <label class="sr-only" for="affiliation-separator-other-input">
              Other Separator Input
            </label>
          </div>
    
          <!-- Affiliation Label -->
          <h2 style="font-size: 1rem;" class="mt-4" id="affiliation-label-title">Affiliation Label</h2>
    
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="affiliation-label-position" id="affiliation-label-position-superscript"
              value="superscript" [formControl]="formGroup.get('affiliation.labelPosition')" aria-labelledby="affiliation-label-title">
            <label class="form-check-label" for="affiliation-label-position-superscript">
              Superscript
            </label>
          </div>
    
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="affiliation-label-position" id="affiliation-label-position-inline" value="inline"
              [formControl]="formGroup.get('affiliation.labelPosition')" aria-labelledby="affiliation-label-title">
            <label class="form-check-label" for="affiliation-label-position-inline">
              Inline
            </label>
          </div>
    
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="affiliation-label-position" id="affiliation-label-position-subscript"
              value="subscript" [formControl]="formGroup.get('affiliation.labelPosition')" aria-labelledby="affiliation-label-title">
            <label class="form-check-label" for="affiliation-label-position-subscript">
              Subscript
            </label>
          </div>
    
          <!-- Affiliation Label Style -->
          <h2 style="font-size: 1rem;" class="mt-4" id="label-style-title">Label Style</h2>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="affiliation-label-style" id="affiliation-label-style-numbers" value="numbers"
              [formControl]="formGroup.get('affiliation.labelStyle')" aria-labelledby="label-style-title">
            <label class="form-check-label" for="affiliation-label-style-numbers">
              numbers
            </label>
          </div>
    
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="affiliation-label-style" id="affiliation-label-style-letters-lowercase"
              value="letters-lowercase" [formControl]="formGroup.get('affiliation.labelStyle')" aria-labelledby="label-style-title">
            <label class="form-check-label" for="affiliation-label-style-letters-lowercase">
              letters
            </label>
          </div>
    
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="affiliation-label-style" id="affiliation-label-style-letters-uppercase"
              value="letters-uppercase" [formControl]="formGroup.get('affiliation.labelStyle')" aria-labelledby="label-style-title">
            <label class="form-check-label" for="affiliation-label-style-letters-uppercase">
              LETTERS
            </label>
          </div>
    
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="affiliation-label-style" id="affiliation-label-style-numerals-lowercase"
              value="numerals-lowercase" [formControl]="formGroup.get('affiliation.labelStyle')" aria-labelledby="label-style-title">
            <label class="form-check-label" for="affiliation-label-style-numerals-lowercase">
              numerals
            </label>
          </div>
    
    
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="affiliation-label-style" id="affiliation-label-style-numerals-uppercase"
              value="numerals-uppercase" [formControl]="formGroup.get('affiliation.labelStyle')" aria-labelledby="label-style-title">
            <label class="form-check-label" for="affiliation-label-style-numerals-uppercase">
              NUMERALS
            </label>
          </div>
    
        </div>
    </form>

</div>